<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/mapView.css" th:href="@{css/mapView.css}">
    <script src="../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script src="../static/js/westerosmap.js" th:src="@{js/westerosmap.js}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: nav"></div>
    
</div>
<div class="container">
  <p>Content goes here...</p>
</div>
</body>
</html>
