<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${title}"></title>
 <link rel="stylesheet" href="../static/css/about.css" th:href="@{css/about.css}">
</head>
<body>
    <div layout:fragment="content">


        <div class="container" id="info">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> <h3>Carlos Alvarado Nuñez</h3> </div>
                        <div class="panel-body"><img src="../static/imgs/avatar.jpg" class="img-responsive" style="width:100%" alt="Image" th:src="@{/imgs/avatar.jpg}"></div>
                        <div class="panel-footer"><h4>calvaradon@ucenfotec.ac.cr</h4></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> <h3> Kevin Chaves Vasquez</h3></div>
                        <div class="panel-body"><img src="../static/imgs/avatar.jpg." class="img-responsive" style="width:100%" alt="Image" th:src="@{/imgs/avatar.jpg}"> </div>
                        <div class="panel-footer"><h4>kchavesv@ucenfotec.ac.cr</h4></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> <h3>Jorge Diaz Alvarado</h3></div>
                        <div class="panel-body"><img src="../static/imgs/avatar.jpg" class="img-responsive" style="width:100%" alt="Image" th:src="@{/imgs/avatar.jpg}"></div>
                        <div class="panel-footer"> <h4>jdiaza1@ucenfotec.ac.cr</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
